* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*----------------
    COMMON
------------------*/

body {
    font-family: "Edu TAS Beginner", serif;
}

.container {
    max-width: 1400px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 1.5625rem;
}

/*----------------
    HEADER
------------------*/

header {
    background-image: url(img/wall.png);
    padding-top: 1.5625rem;
    padding-bottom: 1.5625rem;
}

header h1 {
    text-align: center;
    font-size: 4.375rem;
}

/*----------------
    MAIN
------------------*/

main {
    background-image: url(img/cork.png);
    padding-top: 1.875rem;
    padding-bottom: 1.875rem;
    padding-left: 3.125rem;
    padding-right: 3.125rem;
}

/*----------------
    ROW 
------------------*/

.posts {
    
    margin-bottom: 20px;
}

.col {
    width: calc(94% / 3);
    background-color: white;
    padding-top: .9375rem;
    padding-right: .9375rem;
    padding-left: .9375rem;
}

.post-image {
    padding-bottom: .9375rem;
}

.post-info {
    padding-bottom: 1.25rem;
}

.img-post {
    width: 100%;
}

/*----------------
    RESPONSIVE
------------------*/

/* DA 400px a 0px */
@media screen and (max-width: 25rem) {

    .col {
        width: 100%;
    }

    .row {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}


/* DA 576px a 0px */
@media screen and (max-width: 36rem) {

   

    
    
}
/* DA 768px a 0 */
@media screen and (max-width: 48rem) {

   

    .col {
        width: calc(94% / 2);
    }

    .row {
        display: flex;
        flex-wrap: wrap;
        
    }

   
    
}
